# Google Cloud API Key
# Get yours at: https://console.cloud.google.com/apis/credentials
# Make sure to enable the "Routes API" and "Geocoding API" in your project
GOOGLE_MAPS_API_KEY=your_api_key_here

# Basic Auth Credentials
AUTH_USERNAME=admin
AUTH_PASSWORD=your_secure_password_here

